body{
	background-image:url("index.png");
	background-repeat:repeat;	
	background-attachment:fixed;
}

h1
{
	color:maroon;
	margin-left:40px;
	text-align:center;
text-shadow:4px 4px 8px crimson;
}

p
{
	font-style:italic;
	font-size:large;
}
#Normal{
color:blue;
font-family:serif;
direction:rtl;
word-spacing:5px;
letter-spacing:0.5px;
text-transform:capitalize;
border:5px ridge black;
padding: 25px 50px 25px 25px;

}
.special{
margin: 25px 50px 75px 100px;
color:maroon;
font-family:FreeMono;
font-weight:bolder;
direction:ltr;
text-indent:3cm;
text-decoration:overline;
text-transform:uppercase;
}
.abnormal{
margin:auto;
text-align:center;
text-decoration:line-through;
text-shadow:2px 2px 8px blue;
}
img{
border:5px ridge red;
}
img:hover{
border:5px double blue;                                   
height: 500px;
opacity:0.4;filter:alpha(opacity=40);
border-width: thick;
}
.abstract{
border-style:solid;
border-width:2px 10px 5px 20px;
border-color: red green blue yellow;
border-top-style: solid;
border-right-style: dotted;
border-bottom-style: solid;
border-left-style: solid;
}

.name{
border:5px dashed green;
padding: 5px;
margin:2cm;
text-align:center;
}
li{
display:inline}

span.a{
display:inline;
width:100px;
height:400px;
padding:5px;
border:1px solid blue;
background-color:yellow;}

span.b{
display:inline-block;
width:100px;
height:200px;
padding:5px;
border:1px solid blue;
background-color:yellow;}

span.c{
display:block;
width:100px;
height:400px;
padding:5px;
border:1px solid blue;
background-color:yellow;}

a{
display:inline;
font-size:30px;
text-decoration:none;
}
.one{
text-decoration:underline;
color:black;
}
a.one:visited{color:yellow}
.two{
color:green;}

.two{
color: green;}
a.two:active{
color: blue;}

.three{
border:2px solid green;
color:blue;
}
a.three:hover{
border:2px solid green;
color:pink;
}

.four{
background-color:maroon;
color:white;
}
.pseudo::first-line{
color:blue;
}
.pseudo::first-letter{
color:red;
}
::selection{
color:white;
background-color:red;
}
#grad{background-image:linear-gradient(orange,white,green);}
.Traransitions{
width:100%;
height:150px;
background-color:red;
transition: width 2s,height 4s;
}

.Traransitions:hover{
width:300px;
height:400px;
}

.Traransitions1{
width:100%;
height:150px;
background-color:pink;
transition: width 2s,transform 4s;
border-radius: 25px;
}

.Traransitions1:hover{
width:300px;
height:400px;
transform: rotate(180deg);

}
.clock{
width:50px;
height:50px;
transition:height 2s, width 2s,transform 60s;
border-radius: 50px;
}
.clock:hover{
width:50px;
height:50px;
transform: rotate(360deg);
border-radius: 300px;
}

.animation{
  width: 300px;
  height: 300px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  from {background-color: pink;}
  to {background-color: yellow;}
}

